{% extends 'dashboard/base.html' %}
{% block content %}<div class='row'>
<div class='col s12 m6 offset-m3' style="text-align:center">
<H3>Hi {{ user.first_name }}!</H3>
</div>

<!-- Embeds Calendar -->
<iframe id="displayCalendar" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<script>
    var base = "https://calendar.google.com/calendar/embed?src="
    var email = '{{user.email}}'
    var source = base + email
    document.getElementById("displayCalendar").src = source
</script>

</div>
{% endblock %}