{% extends 'dashboard/base.html' %}
{% block content %}
  <div class="row pl-5 pr-5">
  
  <div class="col-6 overflow-auto" style="max-height: 85vh">
  <div class="d-flex justify-content-center">

    <!-- Note Form -->
    <form action="#" method="POST" role="form">
      {% csrf_token %}
      <div class="form-group">
          <div class="input-group">{{ note_form.title }}</div>
      </div>
      <div class="form-group">
        <div class="input-group">{{ note_form.body }}</div>
    </div>
      <div class="d-flex justify-content-between mb-2">
          <button type="submit" class="btn btn-primary m-1" id="add-btn">Write note</button>
  
          <!-- Go to archive -->
          <a href="{% url 'archive' %}" type="button" class="btn btn-secondary m-1" >Go to archive</a>
          
          <!-- Delete all unarchived notes -->
          <a href="{% url 'delnoteall' 'dashboard' %}" type="button" class="btn btn-danger m-1" >Delete all unarchived notes</a>
      </div>
    </form>
  </div>
  
    <!-- Display Notes -->
  <div class="row">
    {% for note in note_list %}
      {% if user == note.user %}
          {% if not note.is_archived %}
            <div class="card bg-light m-2" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.body }}</p>
                <div class="d-flex">
                  <a href="{% url 'archivenote' note.id 'dashboard' %}" type="button" class="btn-sm flex-shrink text-secondary" style="text-decoration: none">Archive</a>
                  <a href="{% url 'delnote' note.id 'dashboard' %}" type="button" class="btn-sm flex-shrink text-secondary" style="text-decoration: none">Delete</a>
                </div>
              </div>
            </div>
          {% endif %}
      {% endif %}
    {% endfor %}
</div>
</div>
<div class="col-6 overflow-auto" style="max-height: 100vh">
  <div class="flex-d align-items-center justify-content-center">
  <div class="card mx-auto" style="width: 25rem; height: 13rem;">
    <div class="card-header">Weather</div>
    <div class="card-body">
    <div class="media">
        <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" class="align-self-center mr-3" alt="Image">
        <div class="media-body">
            <h3 class="mt-0">{{ city_weather.city }}</h3>
            <p class="font-weight-light">{{ city_weather.temperature }}° F</p>
            <p class="font-weight-light">{{ city_weather.description }}</p>
            {% if not city_found %}
              <p class="font-weight-light text-warning">Sorry, we couldn't find the weather from your location.</p>
            {% endif %}
        </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}