{% extends 'dashboard/base.html' %}
{% block content %}
  
<body>
<div class="container">
    <div class="row justify-content-center align-items-center"><H3>Hi {{ user.first_name }}!</H3></div>
    <div class="row">
        <div class="col-8">
            <!-- Embeds Calendar -->
            <iframe id="displayCalendar" style="border: 0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class='col-4'>
            <div class='row h-20'>
                <!-- Weather -->
                <div class="col card card-body">
                    <div class="media">
                        <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" class="align-self-center mr-3" alt="Image">
                        <div class="media-body">
                            <h3 class="mt-0">{{ city_weather.city }}</h5>
                            <p class="font-weight-light">{{ city_weather.temperature }}° F</p>
                            <p class="font-weight-light">{{ city_weather.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row h-40'>
                <!-- Todos -->
                <div class="col card card-body">
                    <!-- Input Form -->
                    <form action="#" method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">{{ todo_form.task }}</div>
                        </div>
                        <div class="form-group">
                            {{ todo_form.due }}
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary mb-2" id="add-btn">Add task</button>
                        </div>
                    </form>

                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'delcomp' %}"><button type="button" class="btn btn-secondary">Delete complete tasks</button></a>
                        <a href="{% url 'delall' %}"><button type="button" class="btn btn-secondary">Delete all tasks</button></a>
                    </div>

                    <!-- Todo List -->
                    <ul class="list-group">
                        {% for todo in todo_list %}
                            {% if user.username == todo.user %}
                                {% if todo.complete %}
                                    <a href="{% url 'taskpage' todo.id %}" class="list-group-item list-group-item-action">
                                        <del>
                                            <div class="row">
                                                {{ todo.task }}
                                            </div>
                                            <div class="row">
                                                due {{ todo.due }}
                                            </div>
                                        </del>
                                    </a>
                                {% else %}
                                    <a href="{% url 'taskpage' todo.id %}" class="list-group-item list-group-item-action">
                                        <div class="row">
                                            {{ todo.task }}
                                        </div>
                                        <div class="row">
                                            due {{ todo.due }}
                                        </div>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row h-40">
                <div class="col card card-body">
                    notes
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var base = "https://calendar.google.com/calendar/embed?src="
    var email = '{{user.email}}'
    var source = base + email
    document.getElementById("displayCalendar").src = source
</script>

</body>
{% endblock %}