{% extends 'dashboard/base.html' %}
{% block content %}

<div class="container">

  <!-- Note Form -->
  <div class="d-flex justify-content-center">
  <form action="#" method="POST" role="form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">{{ note_form.title }}</div>
    </div>
    <div class="form-group">
      <div class="input-group">{{ note_form.body }}</div>
  </div>
    <div class="d-flex justify-content-between mb-2">
      <button type="submit" class="btn btn-primary m-1" id="add-btn">Write note</button>

      <!-- Go to archive -->
      <a href="{% url 'archive' %}" type="button" class="btn btn-secondary m-1" >Go to archive</a>
      
      <!-- Delete all unarchived notes -->
      <a href="{% url 'delnoteall' 'notes' %}" type="button" class="btn btn-danger m-1" >Delete all unarchived notes</a>
    </div>
  </form>
</div>

  <!-- Display Notes -->
  <div class="row">
      {% for note in note_list %}
        {% if user == note.user %}
            {% if not note.is_archived %}
              <div class="card bg-light m-2" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ note.title }}</h5>
                  <p class="card-text">{{ note.body }}</p>
                  <div class="d-flex">
                    <a href="{% url 'archivenote' note.id 'notes' %}" type="button" class="btn-sm flex-shrink text-secondary" style="text-decoration: none">Archive</a>
                    <a href="{% url 'delnote' note.id 'notes' %}" type="button" class="btn-sm flex-shrink text-secondary" style="text-decoration: none">Delete</a>
                  </div>
                </div>
              </div>
            {% endif %}
        {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}