{% extends 'dashboard/base.html' %}
{% block content %}
<div class="d-flex vh-100">
    <div class="d-flex w-100 text-center justify-content-center align-self-center">

        <form action="#" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">{{ profile_form.preferred_name }}</div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary mb-2" id="add-btn">Save changes</button>
            </div>
          </form>
</div>
</div>
{% endblock %}