{% extends 'dashboard/base.html' %}
{% block content %}
<!-- Todos -->

<div class="container">
  <!-- Input Form -->
<form action="#" method="POST" role="form">
  {% csrf_token %}
  <div class="form-group"><div class="input-group">{{ todo_form.task }}</div></div>
  <div class="form-group">{{ todo_form.due }}</div>
  <div class="btn-group">
      <button type="submit" class="btn btn-primary mb-2" id="add-btn">Add task</button>
  </div>
</form>

<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url 'delcomp' %}"><button type="button" class="btn btn-secondary">Delete complete tasks</button></a>
  <a href="{% url 'delall' %}"><button type="button" class="btn btn-secondary">Delete all tasks</button></a>
</div>

<!-- Todo List -->
<div class="list-group">
  {% for todo in todo_list %}
      {% if user.username == todo.user %}
        <a href="{% url 'taskpage' todo.id %}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{% if todo.complete %}<del>{% endif %}{{ todo.task }}{% if todo.complete %}</del>{% endif %}</h5>
            <button href="{% url 'del' todo.id %}" type="button" class="btn btn-default" >Delete</button>
          </div>
          <p class="mb-1">due {{ todo.due }}</p>
        </a>
      {% endif %}
  {% endfor %}
</div>
</div>

{% endblock %}