{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}

<div class="d-flex vh-100">
  <div class="d-flex w-100 justify-content-center align-self-center">
    <div class="card w-20 justify-content-center align-items-center">
    <div class="card-body text-center justify-content-center align-items-center">
      <h1>Node</h1>
      <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
       <img id="signInButton" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
      </a>
    </div>
  </div>
  </div>
</div>



{% endblock %}